include ./head.jade
  h1 Quote
  form(method='POST')
    .form-group
      label Ticker
      input(type='text', name='ticker', placeholder='Ticker')
    .form-group
      input(type='submit', value='Get Quote')