include ./head.jade
  h3 Quote
  form(method='')
    .form-group
      input(type='text', name='tickero', placeholder='Enter Ticker')
    .form-group
      input(type='submit', value='Get Quote' onclick='something()')
    button(onclick='something()') Click